body{
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    margin-top: -250px;
    display: flex;
    justify-content: center; /* Centra horizontalmente todos los elementos */
    justify-content: space-between;
    align-items: center; /* Centra verticalmente todos los elementos */
    height: 40px; /* Fijamos una altura específica */
    width: 100%; /* Asegura que ocupe el ancho completo */
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Coincide con la altura de la navbar */
    width: 180px; /* Fijamos el ancho de los enlaces */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #2ee57d;
    font-weight: bold;
    transition: 0.5s all ease;
    
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
    color: rgb(255, 255, 255);
    transition: 0.5s all ease;
}

.nav-linkCerrarSesión {
    display: flex; /* Aseguramos que use flexbox para alineación */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 40px; /* Coincide con la altura de la navbar y los enlaces */
    width: 180px; /* Fijamos el ancho para que coincida con los enlaces */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(to right, #2ee57d, #061a3e);
    color: white;
    border: none;
    outline: none;
    transition: 0.5s all ease;
}

.nav-linkCerrarSesión:hover {
    background: linear-gradient(to right, #061a3e, #2ee57d);
    color: white;
}
